type mtk_hal_light, domain;
type mtk_hal_light_exec, exec_type, file_type;
init_daemon_domain(mtk_hal_light)

allow mtk_hal_light sysfs:file { open read write };
